body {
	background-color : #00001f;
	color : #cfcfcf;
	background-image : url('sinclair_spectrum_rainbow.jpg');
	background-repeat : repeat-y;
	background-position : left;
	margin-left : 80px;
	font-family: "Times New Roman", serif;
}

A:link { color: #ff7f7f }
A:visited { color: #ff0000 }
A:active { color: #ffcfcf }

h1,h2,h3,h4,h5,h6 {
	color : #00ffff;
}

img.padded {
	padding: 0.5cm;
}

code {
	color: #cfcfff
}

code.example {
	color: #ffcfcf;
}

pre.example {
    padding: 1%;
    margin: 1%;
    color: #000000;
    background-color: #eeeeff;
    border: 1px solid #ccccff;
    font-family: monospace;
    display: block;
    white-space: pre;
}
